.paddingAll {
  padding: 10px 10px 10px 10px;
}

.priceTitle {
  font-weight: 600;
}

.priceSubtitle {
  font-size: 14px;
}

.iconStyle {
  margin-top: 20px !important;
  margin-left: 20px !important;
  color: aliceblue;
}

.iconStyleBlack {
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.gradient {
  background: linear-gradient(158deg, rgba(40, 34, 70, 1) 0%, rgba(30, 47, 141, 1) 100%);
}

.gradientLight {
  background: linear-gradient(158deg, rgba(53, 138, 148, 1) 0%, rgba(91, 180, 96, 1) 100%);
}

.bgColor {
  min-height: 100vh;
  /* background: #ECEFF1; */
  background: linear-gradient(158deg, rgba(224, 224, 224) 0%, rgba(233, 237, 254) 100%);
}